<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<style type="text/css">
#cover{
	height: 730px;
	display: block; margin: 0px auto;
}
</style>
</head>
<body>
	<div data-role="page" id="page1">
		<div data-role="content">
			<a href="#page2">
				<img id="cover" src="">
			</a>
		</div>
	</div>
	
	<div data-role="page" id="page2">
		<div data-role="content">
			<a href="#page1">
				<img id="cover" src="templates\show_example\NotAI_random_ppt\NotAI_random_ppt (1).png">
			</a>
		</div>
	</div>
	
</body>
</html>